:root{
    --mainColor:#134d00;
    --secondaryColor:#006622;

    --borderColor:#c1c1c1;

    --mainText:#cccccc;
    --secondaryText:#ffff1a;

    --themeDotBorder:#fff;
    --PreviewBG:rgba(60, 200, 140, 0.781);

}