:root{
    --mainColor:#eaeaea;
    --secondaryColor:#fff;

    --borderColor:#c1c1c1;

    --mainText:black;
    --secondaryText:#0a6279;

    --themeDotBorder:#24292e;
    --PreviewBG:rgb(251, 249, 243, 0.8)
}

html, body{
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, strong{
    color:var(--mainText) ;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 600;
}

p, li, span, label, input, textarea{
    color:var(--secondaryText);
    font-family: 'Lora', serif;
}
a{
    text-decoration: none;
    color: #17a2b8;
}
ul{
    list-style: none;
}

h1{ font-size: 56px;}
h2{ font-size: 36px;}
h3{ font-size: 28px;}
h4{ font-size: 22px;}
h5{ font-size: 18px;}
h6{ font-size: 14px;}


.s1{
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}
.s2{
    background-color: var(--secondaryColor);
    border-bottom: 1px solid var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 1200px;
    margin: 0 auto
}
.greeting{
    display: grid;
    align-content: center;
    text-align: center;
    min-height: 10em;

}
.intro{
    background-color: var(--secondaryColor);
    border: 1px solid var(--borderColor);
    border-radius: 7px 7px 0 0;

    -webkit-box-shadow: -3px 0px 0px 0px rgba(8,25,46,0.56); 
    box-shadow: -3px 0px 0px 0px rgba(8,25,46,0.56);

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        'nav nav'
        'linke-Spalte rechte-Spalte'    
    ;
}
.nav{
    grid-area: nav;
    border-bottom: 1px solid var(--borderColor);
    background-color: var(--mainColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dots{
    display: flex;
    padding: 10px;
}
.browserdot{
    background-color: black;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 3px;
}
#dot1{
    background-color: red;
}
#dot2{
    background-color: yellow;
}
#dot3{
    background-color: green;
}
#navigation{
    margin: 0;
    padding: 5px;
}
#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}
.linke-Spalte{
    grid-area: linke-Spalte;
    padding-top: 50px;
    padding-bottom: 50px;
}
#profile_pic{
    display: block;
    margin: 0 auto;
    height: 450px;
    width: 250px;
    object-fit: cover;
    border: 2px solid var(--borderColor);
}
#theme-options-wrapper{
    display: flex;
    justify-content: center;
}
.theme_options{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;

    margin: 5px;
    border: 2px solid var(--themeDotBorder);

    -webkit-box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75); 
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    
    cursor: pointer;
}
.theme_options:hover{
    border-width: 5px;
}
#light-mode{
    background-color: #fff;
}
#blue-mode{
    background-color: blue;
}
#green-mode{
    background-color: green;
}
#purple-mode{
    background-color: purple;
}
#settings{
    font-size: 12px;
    font-style: italic;
    text-align: center;
}
.rechte-Spalte{
    display: grid;
    grid-area: rechte-Spalte;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
#preview{
    width: 300px;
    border: 1.5px solid var(--borderColor);
    background-color: var(--PreviewBG);
    padding: 15px;

    -webkit-box-shadow: -6px -5px 3px -1px rgba(0,0,0,0.75); 
    box-shadow: -6px -5px 3px -1px rgba(0,0,0,0.75);
}
.about-wrap{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    padding-top: 50px;
    padding-bottom: 50px;
    gap: 75px;
}
.socials{
    display: grid;
    align-content: center;
    text-align: center;
}
.heading{
    display: grid;
    align-content: center;
    text-align: center;
    min-height: 10em;

    background-image: url(element5-digital-OyCl7Y4y0Bk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: 1200px 100%;
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 100px 100px ;
    margin-left: auto;
    grid-template-areas:
      "Fach1 Fach1 Fach2 Fach2"
      "Fach3 Fach3 Fach4 Fach4"
      ". . . .";
  }
  .Fach1 {
    display: grid;
    grid-area: Fach1;

    justify-self: start;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px dashed blue;
    height: 20em;

    justify-content: center;
    text-align: center;
}
  .Fach2{
    display: grid;
    grid-area: Fach2;

    padding-top: 50px;
    padding-bottom: 50px;
    height: 20em;
    border: 1px dashed blue;

    justify-content: center;
    text-align: center;
    
}
  .Fach3 {
    display: grid;
    grid-area: Fach3;

    padding-top: 50px;
    padding-bottom: 50px;
    height: 20em;
    border: 1px dashed blue;

    justify-content: center;
    text-align: center;
}
  .Fach4 {
    display: grid;
    grid-area: Fach4;

    padding-top: 50px;
    padding-bottom: 50px;
    height: 20em;
    border: 1px dashed blue;

    justify-content: center;
    text-align: center;
}

@media screen and (max-width: 1200px){
    .main-container{
        width: 95%;
    }
}
@media screen and (max-width: 800px){
    .intro{
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav'
            'linke-Spalte'
            'rechte-Spalte';
    }
    .rechte-Spalte{
        justify-content: center;
    }
}
@media screen and (max-width: 800px){
    .grid-container{
        grid-template-columns: 1fr;
        grid-template-areas:
            'nav'
            'Fach1'
            'Fach2'
            'Fach3'
            'Fach4' ;
    }
    .rechte-Spalte{
        justify-content: center;
    }
}